.DS_Store
.idea
.pnpm-store
.vscode/*
*.dll
*.dylib
*.exe
*.exe~
*.local
*.log
*.njsproj
*.ntvs*
*.out
*.sln
*.so
*.suo
*.sw?
*.test
bower_components
dist
dist-ssr
go.work
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
work
yarn-debug.log*
yarn-error.log*